@import url("https://fonts.googleapis.com/css2? family= Roboto & display=swap");

body {
  background-color: white;
  color: black;

  font-size: 16px;
  font-weight: normal;

  font-family: "Roboto", sans-serif;
}

#img {
  background-position: right;
}
/*.ball {
  background-image: url(img/ball.img);
  background-repeat: no-repeat;
}*/

/*#bg {
    position:fixed;
    z-index: -1;
    top:0;
    left:0; 
    min-width:100%;
    min-height:100%;
}*/
